.deps/
.libs/
INSTALL
Makefile
Makefile.in
aclocal.m4
array-controller
autom4te.cache/
build/gtk-doc.m4
build/libtool.m4
build/ltoptions.m4
build/ltsugar.m4
build/ltversion.m4
build/lt~obsolete.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
doc/reference/Makefile
doc/reference/Makefile.in
doc/reference/*.stamp
doc/reference/glib-controller-decl-list.txt
doc/reference/glib-controller-decl.txt
doc/reference/glib-controller-overrides.txt
doc/reference/glib-controller-undeclared.txt
doc/reference/glib-controller-undocumented.txt
doc/reference/glib-controller-unused.txt
doc/reference/glib-controller.args
doc/reference/glib-controller.hierarchy
doc/reference/glib-controller.interfaces
doc/reference/glib-controller.prerequisites
doc/reference/glib-controller.signals
doc/reference/html/
doc/reference/tmpl/
doc/reference/xml/
doc/reference/version.xml
GController-1.0.*
glib-controller-1.0.pc
glib-controller.pc
glib-controller/gcontrollerenumtypes.[ch]
glib-controller/gcontrollermarshal.[ch]
glib-controller/gcontrollerversion.h
gtk-doc.make
hash-controller
install-sh
libtool
ltmain.sh
missing
omf.make
simple-model
stamp-h1
stamp-enum-types
stamp-marshal
xmldocs.make
*.o
*.la
*.lo
*~
.*.swp
